html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}

h2 {
    margin-top: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-grow {
    flex-grow: 1;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}
