<!doctype html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Deca:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
        <script src="public/tailwind.config.js"></script>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content="60" />
        <title>{{ housing_company.name }} Dashboard</title>
        <link href="/assets/styles.css" rel="stylesheet" />
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            mono: ['"Anonymous Pro"', "monospace"],
                            sans: ['"Lexend Deca"', "sans-serif"],
                        },
                        textColor: {
                            accent: "#FF6B4A",
                        },
                        borderColor: {
                            accent: "#FF6B4A",
                        },
                        backgroundColor: {
                            "dark-row": "#969491",
                            transport: "#065b91",
                        },
                    },
                },
            };
        </script>
    </head>
    <body class="prose prose-invert max-w-full font-sans">
        <!-- Header -->
        <header
            class="flex items-center justify-between px-6 py-2 bg-white border-b-2 border-gray-400"
        >
            <h1 class="text-2xl px-5 py-3 font-bold mb-0 text-black">
                {{ housing_company.name }}
                <span class="text-lg block font-normal uppercase text-black"
                    >{{ housing_company.address }}</span
                >
            </h1>
        </header>
        <!-- Content -->
        <main class="px-5">{% include "residents.html" %}</main>
    </body>
</html>
